a(class='ancora' id='cardapio-ancora')
section(class='cardapio')
     div(class='container')
          div(class='row')
               div(class='col quatro center no-wrap')
                    h3!= '<a class="odometer" id="crdp-1">0</a> <br>' + 'Sabores<br> de suco'                    
               div(class='col quatro center no-wrap')
                    h3!= '<a class="odometer" id="crdp-2">0</a> <br>' + 'Misturas<br>possíveis'
               div(class='col quatro center no-wrap')
                    h3!= '<a class="odometer" id="crdp-3">0</a> <br>' + 'Sanduíches'              
          div(class='row')
               div(class='col seis center no-wrap cont')
                    h3!= '<a class="odometer" id="crdp-4">0</a> <br>' + 'Combos'
               div(class='col seis center no-wrap cont')
                    h3!= '<a class="odometer" id="crdp-5">0</a> <br>' + 'Saladas'
          div(class='row center')
               a(class='botao botao-1') Ver cardápio